#ignore all databases
*.xml
*.geojson
*.xlsx
*.csv

#ignore the jupyter notebook checkpoints
*.ipynb_checkpoints/

#ignore the folder with the countries data
*Austria/
*Germany/
*France/
*Belgium/
*Switzerland/
*World/

#ignore cache files
*__pycache__/

#ignore html downloads
*.html

#ignore presentation stuff
*Soutenance/