#ignore all databases
*.xml
*.geojson
*.xlsx
*.csv

#ignore the jupyter notebook checkpoints
*.ipynb_checkpoints/

#ignore the folder with the countries data
*Austria/
*Germany/

#ignore cache files
*__pycache__/